.App {
  text-align: center;
  height: 100vh;
  /* background-color: rgb(220, 184, 184); */
}
.button-spacing {
  width: 150px;
  height: 50px;
  font-size: large;
}

/* Keep cursor as default when hovering over a point */
.point:hover {
  cursor: default;
}
.center {
  /* Background color overlaps buttons */
  /* background-color: black; */
  margin: auto;
  width: 30%;
  padding: 10px;
  text-align: center;
}

/* CIRCLE SHAPE */
.circle {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}

.square {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
}

/* STAR SHAPE 
#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
#star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
#star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}
 */
